@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light */
:root {
  background-color: #ffffff;
  color: #000000;
}

/* Dark = TRUE BLACK */
.dark,
.dark body,
.dark #root {
  background-color: #000000 !important;
  color: #ffffff !important;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: inherit;
  color: inherit;
}

/* Kill blue focus glow */
* {
  accent-color: black;
}

.dark * {
  accent-color: white;
}
